{%extends 'base.html'%}
{%block main%}

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">
 
      <img src="/static/assets/img/hero-bg-abstract.jpg" alt="" data-aos="fade-in" class="">
 
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center" data-aos="zoom-out">
            <div class="col-12">
            <div class="service-item item-cyan position-relative card p-4">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="my-3">National Permit</h4>
                  <p class="fs-6 my-3">Status : <span class="{%if service_obj.application_status == 'Approved' %}
                    bg-success
                    {%elif service_obj.application_status == 'Rejected' %}
                    bg-danger
                    {%else %}
                    bg-warning
                    {%endif%}
                    rounded p-1 text-white">{{service_obj.application_status}}</span></p>
                </div>
              </div>
              <form action="" method="post">
                {%csrf_token%}
              <div class="row mt-3 mb-3">
                <div class="col-md-3">
                    <label for="application_number" class="form-label">Application Number</label> 
                    <input type="text" class="form-control" disabled value="{{service_obj.application_number}}">
                </div>
                {%check_user_authenticated request as user%}
                {%if user%}
                <div class="col-md-3">
                    <label for="action" class="form-label">Action</label> 
                    <select class="form-control" id="statusFilter" name="status">
                        <option value="Approved">Approve</option>
                        <option value="Rejected">Reject</option>  
                      </select>
                </div>
                <div class="col-md-4">
                    <label for="address" class="form-label">Remarks if any</label> 
                    <textarea  cols="70" rows="4" class="form-control" name="remarks">{{service_obj.remarks_if_rejected}}</textarea> 
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary">Submit</button>
                </div>
                {%endif%}
            </div>
              </form>
                <div class="row">
                    <div class="col-md-4">
                      <label for="exampleInput" class="form-label">Chasis Number</label>
                      <input type="text" class="form-control" id="exampleInput" value="{{service_obj.vehicle.chasis_number}}" disabled>
                    </div> 
                    <div class="col-md-4">
                      <label for="exampleInput" class="form-label">Engine Number</label>
                      <input type="text" class="form-control" id="exampleInput" value="{{service_obj.vehicle.engine_number}}" disabled>
                      </div> 
                    <div class="col-md-4">
                      <label for="exampleInput" class="form-label">Registration Number</label>
                      <input type="text" class="form-control" id="exampleInput" value="{{service_obj.vehicle.registration_number}}" disabled> 
                      </div> 
                </div>
                <div class="row my-3">
                    <div class="col-md-4">
                      <label for="exampleInput" class="form-label">Manufacturer</label>
                      <input type="text" class="form-control" id="exampleInput" value="{{service_obj.vehicle.manufacturer}}" disabled>
                      </div> 
                    <div class="col-md-4">
                      <label for="exampleInput" class="form-label">Model</label>
                      <input type="text" class="form-control" id="exampleInput" value="{{service_obj.vehicle.model}}" disabled>
                      </div> 
                    <div class="col-md-4">
                      <label for="exampleInput" class="form-label">Variant</label>
                      <input type="text" class="form-control" id="exampleInput" value="{{service_obj.vehicle.variant}}" disabled>
                       
                      </div> 
                </div>
                <div class="row my-3">
                  <div class="col-md-4">
                    <label for="exampleInput" class="form-label">Year of Manufacture</label>
                    <input type="year" class="form-control" id="exampleInput" value="{{service_obj.vehicle.year_of_manufacture}}" disabled>
                    </div> 
                    <div class="col-md-4">
                      <label for="exampleInput" class="form-label">Vehicle Class</label>
                      <input type="text" class="form-control" id="exampleInput" value="{{service_obj.vehicle.vehicle_class}}" disabled>
                      </div> 

                    <div class="col-md-4">
                      <label for="exampleInput" class="form-label">Vehicle Type</label>  
                      <input type="text" class="form-control" id="exampleInput" value="{{service_obj.vehicle_type}}" disabled>
                      </div> 
                </div>
                <div class="row mt-lg-5">
                    <div class="col-md-4">
                      <label for="exampleInput" class="form-label">Applicant's Name</label>  
                      <input type="text" class="form-control" id="exampleInput" value="{{service_obj.full_name}}" disabled>
                      </div> 
                      <div class="col-md-7">
                        <label for="exampleInput" class="form-label">Applicant's Address</label>  
                        <textarea  cols="70" rows="4" class="form-control" disabled>{{service_obj.address}}</textarea>
                        </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-4">
                      <label for="exampleInput" class="form-label">Applicant's Contact Number</label>  
                      <input type="text" class="form-control" id="exampleInput" value="{{service_obj.contact_number}}" disabled>
                      </div> 
                      <div class="col-md-4">
                        <label for="exampleInput" class="form-label">Applicant's Email</label>  
                        <input type="text" class="form-control" id="exampleInput" value="{{service_obj.email}}" disabled>
                        </div> 
                </div>
                <div class="row mt-lg-5">
                  <div class="col-md-7">
                    <label for="exampleInput" class="form-label">Routes</label>  
                    <input type="text" class="form-control" id="exampleInput" value="{{service_obj.routes}}" disabled>
                    </div>  
                    <div class="col-md-4">
                      <label for="exampleInput" class="form-label">RC Book</label>  
                      {%if service_obj.rc_book_doc%}
                      <p class="fs-6"><a href="{{service_obj.rc_book_doc.url}}" download>download</a></p>
                      {%endif%}
                      </div> 
                       
                </div>
                <div class="row mt-lg-5">
                  <div class="col-md-4">
                    <label for="exampleInput" class="form-label">Insurance Certificate</label>  
                    {%if service_obj.insurance_certificate%}
                    <p class="fs-6"><a href="{{service_obj.insurance_certificate.url}}" download>download</a></p>
                    {%endif%}
                    </div> 
                    <div class="col-md-4">
                      <label for="exampleInput" class="form-label">Pollution Control Certificate </label>  
                      {%if service_obj.pollution_certificate%}
                      <p class="fs-6"><a href="{{service_obj.pollution_certificate.url}}" download>download</a></p>
                      {%endif%}
                      </div> 
                      <div class="col-md-4">
                        <label for="exampleInput" class="form-label">Fitness Certificate</label>  
                        {%if service_obj.physical_fitness%}
                        <p class="fs-6"><a href="{{service_obj.physical_fitness.url}}" download>download</a></p>
                        {%endif%}
                        </div>
                </div>
                <div class="row mt-lg-5">
                  <div class="col-md-4">
                      <label for="insurance_expiry_date" class="form-label">Approved or Rejected At</label> 
                      {%if service_obj.approved_or_rejected_at%}
                      <input type="text" class="form-control" id="exampleInput" value="{{service_obj.approved_or_rejected_at | date:'d-m-Y'}}" disabled>
                      {%endif%}
                  </div>  
              </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!-- /Hero Section -->
</main>
{%endblock%}

